<div class="container my-3">
<div class="row">
<div class="col-6">
<h2>Register a new account</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "username" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :address,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "address" }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>


<% if resource.errors.any? %>
<br>
<hr>
<ul>
  <% resource.errors.full_messages.each do |msg| %>
    <li class="alert"><%= msg %></li>
  <% end %>
</ul>
<% end %>
