<div class="card-product mx-3">
  <img src="https://source.unsplash.com/800x450/?<%=item.name%>, food" />
  <div class="card-product-infos">
    <h2><%= item.name %></h2>
    <p><%= humanized_money_with_symbol(item.price) %> - <strong><%= item.quantity %> units left</strong></p>
  </div>
  <div class="mx-3 my-2">
    <%= button_to "Add to Cart", action: "create", item_id: item.id %>
  </div>
</div>
